@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: linear-gradient(90deg, #b68c5c, #6b464f, #fad1db);
    display: flex;
    align-items: center;
    justify-content: center;
}


.startContainer {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.souContaner {
    background-color: rgba(255, 231, 231, 0.5);
    border-radius: 20px;
    width: 90vw;
    max-width: 1000px;
    min-height: 60vh;

    display: flex;
    flex-direction: column; /* stacked vertically on small screens */
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 20px;
    box-sizing: border-box;
}


.arc-title {
    display: inline-block;    /* container shrinks exactly to text */
    width: max-content;
    height: auto;

    font-family: 'Luckiest Guy', cursive;
    font-size: clamp(36px, 5vw, 60px);
    color: #ff4d6d;
    -webkit-text-stroke: 2px #e6c559;
    text-align: center;

    line-height: 1;           /* no extra vertical spacing */
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    overflow: hidden;         /* prevents stroke from adding height */
}


.start-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    margin-top: 0px;            /* spacing handled by arc-title */
}

.startButton {
    width: clamp(80px, 20vw, 140px);
    height: auto;
    filter: drop-shadow(0 0 10px rgba(0,0,0,0.4));
}

.startbtn {
    font-family: 'Luckiest Guy', cursive;
    font-size: clamp(18px, 2.5vw, 24px);
    color: hsl(51, 100%, 50%);
    animation: glow 0.5s infinite alternate;
    margin-top: 5px;            /* spacing handled by arc-title */

}




.instTitle {
    font-family: 'Luckiest Guy', cursive;
    font-size: clamp(16px, 2.5vw, 22px);
    color: #0a0902;
    animation: glow 0.5s infinite alternate;
}

.instI {
    color: white;
    font-size: clamp(12px, 2vw, 16px);
    text-align: center;
}


@keyframes glow {
    from {
        text-shadow: 0 0 5px #7a7763, 0 0 10px #0c0700;
    }
    to {
        text-shadow: 0 0 15px #ffd700, 0 0 30px #020101;
    }
}



@media (min-width: 768px) {
   
}


